<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <!-- Adding in the BluePrint style sheets -->
		<%= stylesheet_link_tag "blueprint/screen", :media => "screen, projection" %>
		<%= stylesheet_link_tag "blueprint/print", :media => "print" %>
   
		<!--[if lt IE 8]>
			<%= stylesheet_link_tag "blueprint/ie", :media => "screen, projection" %>
		<![endif]-->
   <!-- End BluePrint Stylesheety inclusion -->
   <%= stylesheet_link_tag "site" %> <!--site.css can expect many changes.-->
   

   <title><%= @title %></title>
 </head>

 <body>
 	<div class="container" id="whole_page">
		<div class="span-24 last top_buffer">
		&nbsp; 
		</div>
 	
 	test
 	
 	</div>


 </body>
</html>
